.chat-side
  .side-header
    .side-header__info
      .side-header__info__user-name
        = current_user.name
      .side-header__info__icons 
        .side-header__info__icons__new-group
          = link_to new_group_path do
            = icon('fas', 'edit', class: 'info__icons__new-group')
        .side-header__info__icons__cog 
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'info__icons__cog')
  .group-lists
    = current_user.groups.each do |group|
      .group-list
      = link_to "#" do
        .group-list__group-name 
        = group.name
        .group-list__group-message まだメッセージがありません
      .group-list
        .group-list__group-name 
        .group-list__group-message まだメッセージがありません